<!-- About Section -->
<section class="site-section about-section next-section-indicator" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.download-title }}</h2>
        <hr class="normal">
      </header>


      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
            <p>CrowdHuman_train01.zip
                <a href="https://pan.baidu.com/s/1e-61WDiCqQibBVTIWqrssQ">[Baidu Drive]</a> 
                <a href="https://drive.google.com/open?id=1XZm5L27eQasrvMq008l6vW8I8ysnavSM">[Google Drive]</a>
            </p>
            <p>CrowdHuman_train02.zip
                <a href="https://pan.baidu.com/s/1OnndpWXiZxsCB3VtWEYE3w">[Baidu Drive]</a>
                <a href="https://drive.google.com/open?id=1KgreKkhPfIiZHkl-x5K7p5LHKsfZss5q">[Google Drive]</a>
            </p>
            <p>CrowdHuman_train03.zip 
                <a href="https://pan.baidu.com/s/1kkfOlHV_xXKNbJUlLSkyXA">[Baidu Drive]</a>
                <a href="https://drive.google.com/open?id=1Af1rBvQSxOmXphoNNtKzAJyrEeeAF-aV">[Google Drive]</a>
            </p>
            <p>CrowdHuman_val.zip
                <a href="https://pan.baidu.com/s/1kVBchjxOWu9sM5h8OAxfQw">[Baidu Drive]</a>
                <a href="https://drive.google.com/open?id=1dRRL6eKE1v_1Kb_R8nZGhTQ0HzYZ-Pss">[Google Drive]</a>
            </p>
            <p>annotation_train.odgt
                <del>
                <a href="https://www.megvii.com">[Baidu Dirve]</a>
                <a href="https://www.megvii.com">[Google Drive]</a>
                </del>
            </p>
            <p>annotation_val.odgt
                <del>
                <a href="https://www.megvii.com">[Baidu Drive]</a>
                <a href="https://www.megvii.com">[Google Drive]</a>
                </del>
            </p>
      </div>

    </div>

  </div>
</section>
