<!-- Features Section -->
<section class="site-section section-focus features-section" id="features">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.license-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.license-description }}</p>
      </div>

    </div>

    <!-- Features -->
    <div class="row features">

      <div class="col-md-6 col-md-push-0 col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1 license">
        <div class="content text-center">
          <h3>Please cite the following paper if you use our dataset.</h3>
          <br>
          <code> Waiting for the publication of the paper... </code>
        </div>
      </div>
      <div class="col-md-6 col-md-push-0 col-sm-8 col-sm-push-2 col-xs-10 col-xs-push-1 license">
        <div class="content text-left">
          <h3>Terms of use: by downloading the image data you agree to the following terms:</h3>
          <br><code>1. You will use the data only for non-commercial research and educational purposes.</code>
          <br><code>2. You will NOT distribute the above images.</code>
          <br><code>3. Megvii Inc. (Face++) makes no representations or warranties regarding the data, including but not limited to warranties of non-infringement or fitness for a particular purpose.</code>
          <br><code>4. You accept full responsibility for your use of the data and shall defend and indemnify Massachusetts Institute of Technology, including its employees, officers and agents, against any and all claims arising from your use of the data, including but not limited to your use of any copies of copyrighted images that you may create from the data.</code>
        </div>
      </div>

    </div>

  </div>
</section>
